name: PR Check

on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Tests
    strategy:
      matrix:
        jdk: [17, 25]
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk }}
          distribution: temurin

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Check
        run: ./gradlew --no-daemon --no-parallel --continue check

      - name: Test Reports
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
